@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./buttons.css";
@import "./cards.css";

/* HEADER AND MAIN CONTAINERS */

.container-auto-center {
  @apply container mx-auto flex flex-col items-center;
}

/* LINKS */

.link {
  @apply text-pokemon-blue-500 hover:underline visited:text-pokemon-blue-700;
}

/* MODAL */

.modal-overlay {
  @apply fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50;
}

.modal-wrapper {
  @apply flex flex-col items-center justify-center min-h-screen text-center;
}

/* TOOLTIP */

.tooltip {
  @apply invisible absolute rounded-lg py-0.5 px-2 bg-gray-100 -mt-20 border-2 font-semibold border-black whitespace-nowrap;
}

.has-tooltip:hover .tooltip {
  @apply visible z-20;
}
